<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="assets/images/favicon.ico">
    <link
        href="//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800"
        rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/admin/style0.css">
    <link rel="stylesheet" href="/css/admin/style1.css">
    <link rel="stylesheet" href="/css/admin/style2.css">
    <link rel="stylesheet" href="/css/admin/style3.css">
    <link rel="stylesheet" href="/css/admin/style4.css">
    <link rel="stylesheet" href="/css/admin/style5.css">
    <link rel="stylesheet" href="/css/admin/style6.css">
    <link rel="stylesheet" href="/css/admin/style7.css">
    <link rel="stylesheet" href="/css/admin/style8.css">
    <link rel="stylesheet" href="/css/admin/style9.css">
    <link rel="stylesheet" href="/css/admin/auth.css">

    <title>Reset Password</title>
</head>

<body class="layout-no-leftnav" data-new-gr-c-s-check-loaded="14.983.0">
    <section class="login-section auth-section">
        <div class="container">
            <div class="row">
                <div class="form-box col-lg-8 col-12 offset-lg-2">
                    <h1 class="form-box-heading logo text-center">
                        <span class="pe-icon pe-7s-box2 icon"></span><span class="highlight">App</span>IFY
                    </h1>

                    <div class="form-box-inner">
                        <h2 class="title text-center">Reset Password</h2>
                        <div class="reset-message"></div>
                        <div class="row">
                            <div class="form-container col-lg-12 col-12">
                                <form class="login-form">
                                    <div class="form-group email">
                                        <label class="sr-only" for="login-email">Email or username</label>
                                        <span class="fa fa-user icon"></span>
                                        <input id="reset-password" type="text" class="form-control login-email"
                                            placeholder="Email or username" required>
                                    </div>


                                    <button type="submit" class="btn btn-block btn-primary">Reset Password</button>
                                    
                                    <p class="alt-path">Have an Acoount? <a class="signup-link" href="/auth/admin/login">Login</a></p>
                                </form>
                            </div>

                            

                        </div>

                    </div>

                </div>

            </div>

            <div class="copyright text-center">
                ©
                <script>document.write(new Date().getFullYear())</script> - Perfect Admin by
                <br> <a href="https://wa.me/2349021020979?text=Hello Dev Flexible">Segun Flexible</a>
            </div>
        </div>

    </section>

<script>
    document.querySelector("form.login-form").addEventListener("submit",e =>{
        e.preventDefault();
        const type = document.querySelector("input#reset-password").value;
        fetch("/reset-password",{method:"POST",headers:{"content-type":"application/json"},body:JSON.stringify({type})})
        .then(res => {
            if(res.status === 404){
                document.querySelector(".reset-message").innerHTML = `<div class="alert alert-theme alert-danger alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                    aria-hidden="true">×</span></button>
                            <strong>Oops!</strong> Email is not recognize
                        </div>`
            }else if(200){
                document.querySelector(".reset-message").innerHTML = `<div class="alert alert-theme alert-success alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                    aria-hidden="true">×</span></button>
                            <strong>Success!</strong> Check your email for reset password link
                        </div>`
            }else{
                document.querySelector(".reset-message").innerHTML = `<div class="alert alert-theme alert-danger alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                    aria-hidden="true">×</span></button>
                            <strong>Oops!</strong> Server error, Try again later
                        </div>`
            }
        })
    })
</script>

<script src="/js/admin/js1.js"></script>
<script src="/js/admin/js3.js"></script>





</body>

</html>