<div class="sections-wrapper">

    <section id="overview-section" class="overview-section section">
        <h2 class="section-title">
            A great way to empower your team
        </h2>
        <div class="section-intro">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Cum sociis
            natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Screenshots used: <a
                class="text-link"
                href="https://themes.3rdwavemedia.com/bootstrap-templates/product/appify-bootstrap-4-admin-template-for-app-developers/"
                target="_blank">Appify Bootstrap 4 Admin Theme</a>.
        </div>
        <!--//section-intro-->
        <div class="figures-wrapper">
            <div class="container text-center">
                <figure class="macbook-screen"><img class="img-fluid" src="https://themes.3rdwavemedia.com/startup-kit/bs5/1.1/assets/images/macbook-screen.png" alt="">
                </figure>
                <figure class="ipad-screen"><img class="img-fluid" src="https://themes.3rdwavemedia.com/startup-kit/bs5/1.1/assets/images/ipad-screen.png" alt=""></figure>
                <figure class="iphone-screen"><img class="img-fluid" src="https://themes.3rdwavemedia.com/startup-kit/bs5/1.1/assets/images/iphone-screen.png" alt="">
                </figure>
                <a href="#" class="play-icon video-play-trigger" data-toggle="modal" data-target="#modal-video"><img
                        src="https://themes.3rdwavemedia.com/startup-kit/bs5/1.1/assets/images/play-icon-md.svg" alt=""></a>
            </div>
            <!--//container-->
        </div>
        <!--//figures-wrapper-->
        <div class="benefits-wrapper">
            <div class="container text-center">
                <div class="row">
                    <div class="item col-12 col-md-4">
                        <div class="item-inner">
                            <img class="item-icon" src="https://themes.3rdwavemedia.com/startup-kit/bs5/1.1/assets/images/icons/clock-white.svg" alt="">
                            <h3 class="item-title">10X Faster Development</h3>
                            <div class="item-desc">
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
                                dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,
                                nascetur ridiculus mus.
                            </div>
                        </div>
                        <!--//item-inner-->
                    </div>
                    <!--//item-->
                    <div class="item col-12 col-md-4">
                        <div class="item-inner">
                            <img class="item-icon" src="https://themes.3rdwavemedia.com/startup-kit/bs5/1.1/assets/images/icons/presenter-white.svg" alt="">
                            <h3 class="item-title">Increase Productivity</h3>
                            <div class="item-desc">
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
                                dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,
                                nascetur ridiculus mus.
                            </div>
                        </div>
                        <!--//item-inner-->
                    </div>
                    <!--//item-->
                    <div class="item col-12 col-md-4">
                        <div class="item-inner">
                            <img class="item-icon" src="https://themes.3rdwavemedia.com/startup-kit/bs5/1.1/assets/images/icons/chat-white.svg" alt="">
                            <h3 class="item-title">Better Collabration</h3>
                            <div class="item-desc">
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
                                dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,
                                nascetur ridiculus mus.
                            </div>
                        </div>
                        <!--//item-inner-->
                    </div>
                    <!--//item-->
                </div>
                <!--//row-->
            </div>
            <!--//container-->
        </div>
        <!--//benefits-->
        <div class="press-wrapper">
            <div class="container">
                <div class="logos row">
                    <div class="logo col-6 col-md-3"><img class="img-fluid" src="https://themes.3rdwavemedia.com/startup-kit/bs5/1.1/assets/images/logos/logo-1.svg" alt="">
                    </div>
                    <div class="logo col-6 col-md-3"><img class="img-fluid" src="https://themes.3rdwavemedia.com/startup-kit/bs5/1.1/assets/images/logos/logo-2.svg" alt="">
                    </div>
                    <div class="logo col-6 col-md-3"><img class="img-fluid" src="https://themes.3rdwavemedia.com/startup-kit/bs5/1.1/assets/images/logos/logo-3.svg" alt="">
                    </div>
                    <div class="logo col-6 col-md-3"><img class="img-fluid" src="https://themes.3rdwavemedia.com/startup-kit/bs5/1.1/assets/images/logos/logo-4.svg" alt="">
                    </div>
                </div>
            </div>
            <!--//container-->
        </div>
        <!--//press-wrapper-->
    </section>
    <!--//overview-section-->

    <section id="features-section" class="features-section section">
        <h2 class="section-title">
            Key Features
        </h2>
        <div class="container">
            <div class="row">
                <div class="features-content-wrapper col-12 col-md-7 com-lg-7">
                    <div class="intro">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                        Aenean massa. Screenshot used: <a class="text-link"
                            href="https://themes.3rdwavemedia.com/bootstrap-templates/product/appify-bootstrap-4-admin-template-for-app-developers/"
                            target="_blank">Appify Bootstrap 4 Admin Theme</a>
                    </div>
                    <!--//intro-->
                    <ul class="feature-list list-unstyled">
                        <li><img class="tick-icon" src="https://themes.3rdwavemedia.com/startup-kit/bs5/1.1/assets/images/tick.svg" alt=""> Feature one lorem ipsum dolor
                            sit amet.</li>
                        <li><img class="tick-icon" src="https://themes.3rdwavemedia.com/startup-kit/bs5/1.1/assets/images/tick.svg" alt=""> Feature two lorem ipsum dolor
                            sit amet.</li>
                        <li><img class="tick-icon" src="https://themes.3rdwavemedia.com/startup-kit/bs5/1.1/assets/images/tick.svg" alt=""> Feature three lorem ipsum dolor
                            sit amet.</li>
                        <li><img class="tick-icon" src="https://themes.3rdwavemedia.com/startup-kit/bs5/1.1/assets/images/tick.svg" alt=""> Feature four lorem ipsum dolor
                            sit amet.</li>
                        <li><img class="tick-icon" src="https://themes.3rdwavemedia.com/startup-kit/bs5/1.1/assets/images/tick.svg" alt=""> Feature five lorem ipsum dolor
                            sit amet.</li>
                        <li><img class="tick-icon" src="https://themes.3rdwavemedia.com/startup-kit/bs5/1.1/assets/images/tick.svg" alt=""> Feature six lorem ipsum dolor
                            sit amet.</li>
                    </ul>
                    <!--//feature-list-->

                    <div id="reviews-carousel" class="reviews-carousel carousel slide" data-ride="carousel">
                        <!--//wrapper for slides -->
                        <div class="carousel-inner" role="listbox">
                            <div class="carousel-item item carousel-item-next carousel-item-left">
                                <blockquote class="review center-block">
                                    <svg class="svg-inline--fa fa-quote-left fa-w-16" aria-hidden="true"
                                        focusable="false" data-prefix="fas" data-icon="quote-left" role="img"
                                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg="">
                                        <path fill="currentColor"
                                            d="M464 256h-80v-64c0-35.3 28.7-64 64-64h8c13.3 0 24-10.7 24-24V56c0-13.3-10.7-24-24-24h-8c-88.4 0-160 71.6-160 160v240c0 26.5 21.5 48 48 48h128c26.5 0 48-21.5 48-48V304c0-26.5-21.5-48-48-48zm-288 0H96v-64c0-35.3 28.7-64 64-64h8c13.3 0 24-10.7 24-24V56c0-13.3-10.7-24-24-24h-8C71.6 32 0 103.6 0 192v240c0 26.5 21.5 48 48 48h128c26.5 0 48-21.5 48-48V304c0-26.5-21.5-48-48-48z">
                                        </path>
                                    </svg><!-- <i class="fas fa-quote-left"></i> Font Awesome fontawesome.com -->
                                    <p>A great way to Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
                                        commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis
                                        dis parturient montes, nascetur ridiculus mus.</p>
                                </blockquote>
                                <!--//review-->
                                <div class="source">
                                    <div class="rating">
                                        <svg class="svg-inline--fa fa-star fa-w-18" aria-hidden="true" focusable="false"
                                            data-prefix="fas" data-icon="star" role="img"
                                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg="">
                                            <path fill="currentColor"
                                                d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z">
                                            </path>
                                        </svg><!-- <i class="fas fa-star"></i> Font Awesome fontawesome.com -->
                                        <svg class="svg-inline--fa fa-star fa-w-18" aria-hidden="true" focusable="false"
                                            data-prefix="fas" data-icon="star" role="img"
                                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg="">
                                            <path fill="currentColor"
                                                d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z">
                                            </path>
                                        </svg><!-- <i class="fas fa-star"></i> Font Awesome fontawesome.com -->
                                        <svg class="svg-inline--fa fa-star fa-w-18" aria-hidden="true" focusable="false"
                                            data-prefix="fas" data-icon="star" role="img"
                                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg="">
                                            <path fill="currentColor"
                                                d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z">
                                            </path>
                                        </svg><!-- <i class="fas fa-star"></i> Font Awesome fontawesome.com -->
                                        <svg class="svg-inline--fa fa-star fa-w-18" aria-hidden="true" focusable="false"
                                            data-prefix="fas" data-icon="star" role="img"
                                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg="">
                                            <path fill="currentColor"
                                                d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z">
                                            </path>
                                        </svg><!-- <i class="fas fa-star"></i> Font Awesome fontawesome.com -->
                                        <svg class="svg-inline--fa fa-star fa-w-18" aria-hidden="true" focusable="false"
                                            data-prefix="fas" data-icon="star" role="img"
                                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg="">
                                            <path fill="currentColor"
                                                d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z">
                                            </path>
                                        </svg><!-- <i class="fas fa-star"></i> Font Awesome fontawesome.com -->
                                    </div>
                                    <!--//rating-->
                                    <img class="profile" src="https://themes.3rdwavemedia.com/startup-kit/bs5/1.1/assets/images/users/user-1.png" alt="">
                                    <div class="name">Theresa Wood, Product Hunt</div>
                                </div>
                                <!--//source-->
                            </div>
                            <!--//item-->

                            <div class="carousel-item item">
                                <blockquote class="review center-block">
                                    <svg class="svg-inline--fa fa-quote-left fa-w-16" aria-hidden="true"
                                        focusable="false" data-prefix="fas" data-icon="quote-left" role="img"
                                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg="">
                                        <path fill="currentColor"
                                            d="M464 256h-80v-64c0-35.3 28.7-64 64-64h8c13.3 0 24-10.7 24-24V56c0-13.3-10.7-24-24-24h-8c-88.4 0-160 71.6-160 160v240c0 26.5 21.5 48 48 48h128c26.5 0 48-21.5 48-48V304c0-26.5-21.5-48-48-48zm-288 0H96v-64c0-35.3 28.7-64 64-64h8c13.3 0 24-10.7 24-24V56c0-13.3-10.7-24-24-24h-8C71.6 32 0 103.6 0 192v240c0 26.5 21.5 48 48 48h128c26.5 0 48-21.5 48-48V304c0-26.5-21.5-48-48-48z">
                                        </path>
                                    </svg><!-- <i class="fas fa-quote-left"></i> Font Awesome fontawesome.com -->
                                    <p>A great way to Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
                                        commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis
                                        dis parturient montes, nascetur ridiculus mus.</p>
                                </blockquote>
                                <!--//review-->
                                <div class="source">
                                    <div class="rating">
                                        <svg class="svg-inline--fa fa-star fa-w-18" aria-hidden="true" focusable="false"
                                            data-prefix="fas" data-icon="star" role="img"
                                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg="">
                                            <path fill="currentColor"
                                                d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z">
                                            </path>
                                        </svg><!-- <i class="fas fa-star"></i> Font Awesome fontawesome.com -->
                                        <svg class="svg-inline--fa fa-star fa-w-18" aria-hidden="true" focusable="false"
                                            data-prefix="fas" data-icon="star" role="img"
                                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg="">
                                            <path fill="currentColor"
                                                d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z">
                                            </path>
                                        </svg><!-- <i class="fas fa-star"></i> Font Awesome fontawesome.com -->
                                        <svg class="svg-inline--fa fa-star fa-w-18" aria-hidden="true" focusable="false"
                                            data-prefix="fas" data-icon="star" role="img"
                                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg="">
                                            <path fill="currentColor"
                                                d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z">
                                            </path>
                                        </svg><!-- <i class="fas fa-star"></i> Font Awesome fontawesome.com -->
                                        <svg class="svg-inline--fa fa-star fa-w-18" aria-hidden="true" focusable="false"
                                            data-prefix="fas" data-icon="star" role="img"
                                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg="">
                                            <path fill="currentColor"
                                                d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z">
                                            </path>
                                        </svg><!-- <i class="fas fa-star"></i> Font Awesome fontawesome.com -->
                                        <svg class="svg-inline--fa fa-star fa-w-18" aria-hidden="true" focusable="false"
                                            data-prefix="fas" data-icon="star" role="img"
                                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg="">
                                            <path fill="currentColor"
                                                d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z">
                                            </path>
                                        </svg><!-- <i class="fas fa-star"></i> Font Awesome fontawesome.com -->
                                    </div>
                                    <!--//rating-->
                                    <img class="profile" src="https://themes.3rdwavemedia.com/startup-kit/bs5/1.1/assets/images/users/user-2.png" alt="">
                                    <div class="name">Rob Kim, Mashable</div>
                                </div>
                                <!--//source-->
                            </div>
                            <!--//item-->

                            <div class="carousel-item item active carousel-item-left">
                                <blockquote class="review center-block">
                                    <svg class="svg-inline--fa fa-quote-left fa-w-16" aria-hidden="true"
                                        focusable="false" data-prefix="fas" data-icon="quote-left" role="img"
                                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg="">
                                        <path fill="currentColor"
                                            d="M464 256h-80v-64c0-35.3 28.7-64 64-64h8c13.3 0 24-10.7 24-24V56c0-13.3-10.7-24-24-24h-8c-88.4 0-160 71.6-160 160v240c0 26.5 21.5 48 48 48h128c26.5 0 48-21.5 48-48V304c0-26.5-21.5-48-48-48zm-288 0H96v-64c0-35.3 28.7-64 64-64h8c13.3 0 24-10.7 24-24V56c0-13.3-10.7-24-24-24h-8C71.6 32 0 103.6 0 192v240c0 26.5 21.5 48 48 48h128c26.5 0 48-21.5 48-48V304c0-26.5-21.5-48-48-48z">
                                        </path>
                                    </svg><!-- <i class="fas fa-quote-left"></i> Font Awesome fontawesome.com -->
                                    <p>A great way to Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
                                        commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis
                                        dis parturient montes, nascetur ridiculus mus.</p>
                                </blockquote>
                                <!--//review-->
                                <div class="source">
                                    <div class="rating">
                                        <svg class="svg-inline--fa fa-star fa-w-18" aria-hidden="true" focusable="false"
                                            data-prefix="fas" data-icon="star" role="img"
                                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg="">
                                            <path fill="currentColor"
                                                d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z">
                                            </path>
                                        </svg><!-- <i class="fas fa-star"></i> Font Awesome fontawesome.com -->
                                        <svg class="svg-inline--fa fa-star fa-w-18" aria-hidden="true" focusable="false"
                                            data-prefix="fas" data-icon="star" role="img"
                                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg="">
                                            <path fill="currentColor"
                                                d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z">
                                            </path>
                                        </svg><!-- <i class="fas fa-star"></i> Font Awesome fontawesome.com -->
                                        <svg class="svg-inline--fa fa-star fa-w-18" aria-hidden="true" focusable="false"
                                            data-prefix="fas" data-icon="star" role="img"
                                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg="">
                                            <path fill="currentColor"
                                                d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z">
                                            </path>
                                        </svg><!-- <i class="fas fa-star"></i> Font Awesome fontawesome.com -->
                                        <svg class="svg-inline--fa fa-star fa-w-18" aria-hidden="true" focusable="false"
                                            data-prefix="fas" data-icon="star" role="img"
                                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg="">
                                            <path fill="currentColor"
                                                d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z">
                                            </path>
                                        </svg><!-- <i class="fas fa-star"></i> Font Awesome fontawesome.com -->
                                        <svg class="svg-inline--fa fa-star fa-w-18" aria-hidden="true" focusable="false"
                                            data-prefix="fas" data-icon="star" role="img"
                                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg="">
                                            <path fill="currentColor"
                                                d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z">
                                            </path>
                                        </svg><!-- <i class="fas fa-star"></i> Font Awesome fontawesome.com -->
                                    </div>
                                    <!--//rating-->
                                    <img class="profile" src="https://themes.3rdwavemedia.com/startup-kit/bs5/1.1/assets/images/users/user-3.png" alt="">
                                    <div class="name">Kevin Howell, Wired</div>
                                </div>
                                <!--//source-->
                            </div>
                            <!--//item-->

                        </div>
                        <!--//carousel-inner-->

                        <!--//Indicators-->
                        <ol class="carousel-indicators">
                            <li data-target="#reviews-carousel" data-slide-to="0" class="active"></li>
                            <li data-target="#reviews-carousel" data-slide-to="1" class=""></li>
                            <li data-target="#reviews-carousel" data-slide-to="2" class=""></li>
                        </ol>

                    </div>
                    <!--//reviews-carousel-->
                </div>
                <!--//features-content-wrapper-->
            </div>
            <!--//row-->
        </div>
        <!--//container-->

        <div class="features-figure-wrapper">
            <img class="img-fluid" src="https://themes.3rdwavemedia.com/startup-kit/bs5/1.1/assets/images/imac-screen.png" alt="">
        </div>
        <!--//features-figure-wrapper-->

        <div class="action-wrapper text-center">
            <a href="features.html" class="btn btn-secondary">View all features</a>
        </div>

    </section>
    <!--//features-section-->

    <section id="customers-section" class="customers-section section">
        <h2 class="section-title">Trusted by smart businesses</h2>
        <div class="section-intro">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus elementum felis at
            lacus blandit egestas. Donec consectetur mollis leo, et pharetra massa eleifend mollis.</div>
        <div class="container">
            <div class="stories-wrapper row">
                <div class="item item-1 col-12 col-md-6">
                    <div class="item-inner text-center">
                        <div class="item-mask"></div>
                        <div class="item-content">
                            <h3 class="content-title">Shipping product <br>at an amazing speed</h3>
                            <div class="content-desc">
                                <span class="icon-holder">
                                    <svg class="svg-inline--fa fa-quote-left fa-w-16" aria-hidden="true"
                                        focusable="false" data-prefix="fas" data-icon="quote-left" role="img"
                                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg="">
                                        <path fill="currentColor"
                                            d="M464 256h-80v-64c0-35.3 28.7-64 64-64h8c13.3 0 24-10.7 24-24V56c0-13.3-10.7-24-24-24h-8c-88.4 0-160 71.6-160 160v240c0 26.5 21.5 48 48 48h128c26.5 0 48-21.5 48-48V304c0-26.5-21.5-48-48-48zm-288 0H96v-64c0-35.3 28.7-64 64-64h8c13.3 0 24-10.7 24-24V56c0-13.3-10.7-24-24-24h-8C71.6 32 0 103.6 0 192v240c0 26.5 21.5 48 48 48h128c26.5 0 48-21.5 48-48V304c0-26.5-21.5-48-48-48z">
                                        </path>
                                    </svg><!-- <i class="fas fa-quote-left"></i> Font Awesome fontawesome.com -->
                                </span>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit aenean commodo ligula eget
                                    dolor aenean massa. Cum sociis natoque penatibus.</p>
                            </div>
                            <a class="item-link" href="#"></a>
                        </div>
                        <!--//item-content-->
                    </div>
                    <!--//item-inner-->
                </div>
                <!--//item-->
                <div class="item item-2 col-12 col-md-6">
                    <div class="item-inner text-center">
                        <div class="item-mask"></div>
                        <div class="item-content">
                            <h3 class="content-title">Better collaboration <br>with remote teams</h3>
                            <div class="content-desc">
                                <span class="icon-holder">
                                    <svg class="svg-inline--fa fa-quote-left fa-w-16" aria-hidden="true"
                                        focusable="false" data-prefix="fas" data-icon="quote-left" role="img"
                                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg="">
                                        <path fill="currentColor"
                                            d="M464 256h-80v-64c0-35.3 28.7-64 64-64h8c13.3 0 24-10.7 24-24V56c0-13.3-10.7-24-24-24h-8c-88.4 0-160 71.6-160 160v240c0 26.5 21.5 48 48 48h128c26.5 0 48-21.5 48-48V304c0-26.5-21.5-48-48-48zm-288 0H96v-64c0-35.3 28.7-64 64-64h8c13.3 0 24-10.7 24-24V56c0-13.3-10.7-24-24-24h-8C71.6 32 0 103.6 0 192v240c0 26.5 21.5 48 48 48h128c26.5 0 48-21.5 48-48V304c0-26.5-21.5-48-48-48z">
                                        </path>
                                    </svg><!-- <i class="fas fa-quote-left"></i> Font Awesome fontawesome.com -->
                                </span>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit aenean commodo ligula eget
                                    dolor aenean massa. Cum sociis natoque penatibus.</p>
                            </div>
                            <a class="item-link" href="#"></a>
                        </div>
                        <!--//item-content-->
                    </div>
                    <!--//item-inner-->
                </div>
                <!--//item-->
                <div class="item item-3 col-12 col-md-6">
                    <div class="item-inner text-center">
                        <div class="item-mask"></div>
                        <div class="item-content">
                            <h3 class="content-title">Put UX at the heart of <br>our SaaS business</h3>
                            <div class="content-desc">
                                <span class="icon-holder">
                                    <svg class="svg-inline--fa fa-quote-left fa-w-16" aria-hidden="true"
                                        focusable="false" data-prefix="fas" data-icon="quote-left" role="img"
                                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg="">
                                        <path fill="currentColor"
                                            d="M464 256h-80v-64c0-35.3 28.7-64 64-64h8c13.3 0 24-10.7 24-24V56c0-13.3-10.7-24-24-24h-8c-88.4 0-160 71.6-160 160v240c0 26.5 21.5 48 48 48h128c26.5 0 48-21.5 48-48V304c0-26.5-21.5-48-48-48zm-288 0H96v-64c0-35.3 28.7-64 64-64h8c13.3 0 24-10.7 24-24V56c0-13.3-10.7-24-24-24h-8C71.6 32 0 103.6 0 192v240c0 26.5 21.5 48 48 48h128c26.5 0 48-21.5 48-48V304c0-26.5-21.5-48-48-48z">
                                        </path>
                                    </svg><!-- <i class="fas fa-quote-left"></i> Font Awesome fontawesome.com -->
                                </span>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit aenean commodo ligula eget
                                    dolor aenean massa. Cum sociis natoque penatibus.</p>
                            </div>
                            <a class="item-link" href="#"></a>
                        </div>
                        <!--//item-content-->
                    </div>
                    <!--//item-inner-->
                </div>
                <!--//item-->
                <div class="item item-4 col-12 col-md-6">
                    <div class="item-inner text-center">
                        <div class="item-mask"></div>
                        <div class="item-content">
                            <h3 class="content-title">A new way to app <br>development</h3>
                            <div class="content-desc">
                                <span class="icon-holder">
                                    <svg class="svg-inline--fa fa-quote-left fa-w-16" aria-hidden="true"
                                        focusable="false" data-prefix="fas" data-icon="quote-left" role="img"
                                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg="">
                                        <path fill="currentColor"
                                            d="M464 256h-80v-64c0-35.3 28.7-64 64-64h8c13.3 0 24-10.7 24-24V56c0-13.3-10.7-24-24-24h-8c-88.4 0-160 71.6-160 160v240c0 26.5 21.5 48 48 48h128c26.5 0 48-21.5 48-48V304c0-26.5-21.5-48-48-48zm-288 0H96v-64c0-35.3 28.7-64 64-64h8c13.3 0 24-10.7 24-24V56c0-13.3-10.7-24-24-24h-8C71.6 32 0 103.6 0 192v240c0 26.5 21.5 48 48 48h128c26.5 0 48-21.5 48-48V304c0-26.5-21.5-48-48-48z">
                                        </path>
                                    </svg><!-- <i class="fas fa-quote-left"></i> Font Awesome fontawesome.com -->
                                </span>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit aenean commodo ligula eget
                                    dolor aenean massa. Cum sociis natoque penatibus.</p>
                            </div>
                            <a class="item-link" href="#"></a>
                        </div>
                        <!--//item-content-->
                    </div>
                    <!--//item-inner-->
                </div>
                <!--//item-->
            </div>
            <!--//row-->
            <div class="action-wrapper text-center">
                <a class="btn btn-secondary" href="stories.html">All Customer Stories</a>
            </div>
        </div>
        <!--//container-->
    </section>
    <!--//customers-section-->

    
    <section id="support-section" class="support-section section text-center">
        <h2 class="section-title">24/7 Customer Support</h2>
        <div class="section-intro">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
            dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes</div>
        <a class="btn btn-secondary" href="support.html">Our Support Center</a>
        <div class="team-figure">
            <img class="img-fluid support-team" src="https://themes.3rdwavemedia.com/startup-kit/bs5/1.1/assets/images/team.png" alt="">
        </div>
        <!--//team-figure-->
    </section>
    <!--//support-section-->

    <section class="apps-section section text-center">
        <h2 class="section-title">Download Our Apps</h2>
        <div class="container">
            <ul class="apps-list list-inline">
                <li class="list-inline-item"><a class="btn btn-download-app btn-apple-download" href="#"><svg
                            class="svg-inline--fa fa-apple fa-w-12" aria-hidden="true" focusable="false"
                            data-prefix="fab" data-icon="apple" role="img" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 384 512" data-fa-i2svg="">
                            <path fill="currentColor"
                                d="M318.7 268.7c-.2-36.7 16.4-64.4 50-84.8-18.8-26.9-47.2-41.7-84.7-44.6-35.5-2.8-74.3 20.7-88.5 20.7-15 0-49.4-19.7-76.4-19.7C63.3 141.2 4 184.8 4 273.5q0 39.3 14.4 81.2c12.8 36.7 59 126.7 107.2 125.2 25.2-.6 43-17.9 75.8-17.9 31.8 0 48.3 17.9 76.4 17.9 48.6-.7 90.4-82.5 102.6-119.3-65.2-30.7-61.7-90-61.7-91.9zm-56.6-164.2c27.3-32.4 24.8-61.9 24-72.5-24.1 1.4-52 16.4-67.9 34.9-17.5 19.8-27.8 44.3-25.6 71.9 26.1 2 49.9-11.4 69.5-34.3z">
                            </path>
                        </svg><!-- <i class="fab fa-apple"></i> Font Awesome fontawesome.com --> <span
                            class="btn-text"><span class="intro-text">Download on the</span><span class="main-text">App
                                Store</span></span></a></li>
                <li class="list-inline-item"><a class="btn btn-download-app btn-andriod-download" href="#"><svg
                            class="svg-inline--fa fa-android fa-w-18" aria-hidden="true" focusable="false"
                            data-prefix="fab" data-icon="android" role="img" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 576 512" data-fa-i2svg="">
                            <path fill="currentColor"
                                d="M420.55,301.93a24,24,0,1,1,24-24,24,24,0,0,1-24,24m-265.1,0a24,24,0,1,1,24-24,24,24,0,0,1-24,24m273.7-144.48,47.94-83a10,10,0,1,0-17.27-10h0l-48.54,84.07a301.25,301.25,0,0,0-246.56,0L116.18,64.45a10,10,0,1,0-17.27,10h0l47.94,83C64.53,202.22,8.24,285.55,0,384H576c-8.24-98.45-64.54-181.78-146.85-226.55">
                            </path>
                        </svg><!-- <i class="fab fa-android"></i> Font Awesome fontawesome.com --> <span
                            class="btn-text"><span class="intro-text">Get it on</span><span class="main-text">Google
                                Play</span></span></a></li>
                <li class="list-inline-item"><a class="btn btn-download-app btn-windows-download" href="#"><svg
                            class="svg-inline--fa fa-windows fa-w-14" aria-hidden="true" focusable="false"
                            data-prefix="fab" data-icon="windows" role="img" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 448 512" data-fa-i2svg="">
                            <path fill="currentColor"
                                d="M0 93.7l183.6-25.3v177.4H0V93.7zm0 324.6l183.6 25.3V268.4H0v149.9zm203.8 28L448 480V268.4H203.8v177.9zm0-380.6v180.1H448V32L203.8 65.7z">
                            </path>
                        </svg><!-- <i class="fab fa-windows"></i> Font Awesome fontawesome.com --> <span
                            class="btn-text"><span class="intro-text">Download from</span><span
                                class="main-text">Windows Phone Store</span></span></a></li>
            </ul>
            <!--//apps-list-->
        </div>
        <!--//container-->
    </section>
    <!--//apps-section-->

</div>