<section class="promo-section section section-on-bg">
    <div class="hero-slider-wrapper">
        <div id="hero-carousel" class="hero-carousel carousel slide carousel-fade" data-ride="carousel"
            data-interval="5000">
            <div class="carousel-inner">
                <div class="carousel-item slide slide-1"></div>
                <div class="carousel-item slide slide-2 active carousel-item-left"></div>
                <div class="carousel-item slide slide-3 carousel-item-next carousel-item-left"></div>
            </div>
        </div>
        <!--//hero-carousel-->
        <div class="hero-slider-mask"></div>
    </div>
    <!--//hero-slider-wrapper-->
    <div class="container promo-content">
        <h2 class="headline">The Perfect Design Framework <br>for Startup Businesses</h2>
        <p class="tagline">Good design is good business, try our demo today!</p>
        <div class="actions">
            <a class="btn btn-cta btn-primary" href="#" data-toggle="modal" data-target="#signup-modal">Start Free
                Trial</a>
            <br class="d-sm-inline-block d-md-none">
            <a href="#" class="video-play-trigger" data-toggle="modal" data-target="#modal-video"><img class="play-icon"
                    src="assets/images/play-icon.svg" alt="">See how it works</a>
        </div>
    </div>
    <!--//container-->
</section>