<!DOCTYPE html>
<html lang="en">

<head>

    <link id="svg" rel="stylesheet" href="/css/svg.css">
    <link id="top" rel="stylesheet" href="/css/top.css">
</head>
</head>

<title>Verify | Success</title>
<!-- Meta -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<link rel="shortcut icon" href="favicon.ico">
<link href="https://fonts.googleapis.com/css?family=Roboto:400,300,500,300italic,400italic,500italic,700,700italic"
    rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,400italic,700,700italic" rel="stylesheet"
    type="text/css">
<!-- FontAwesome JS -->
<script defer="" src="/js/fontawesome.js"></script>
<!-- Global CSS -->
<link rel="stylesheet" href="/css/style.css">
<!-- Plugins CSS -->
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<!-- Theme CSS -->
<link id="theme-style" rel="stylesheet" href="/css/style2.css">
<style>
    .alert.alert-danger.success {
        /* display: flex; */
        /* justify-content: center; */
        width: 100%;
        text-align: center;
        /* flex-direction: column; */
    }

    .container.success {
        display: flex !important;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 94vh;
    }

    h4.alert-heading.success {
        font-size: 25px;
        font-weight: bold;
    }

    button.btn.btn-primary a {
        color: #fff;
        text-decoration: none;
    }
</style>
</head>

<body style='background-color: #718b60'>


    <div class="container success">
        <div class="alert alert-success success" role="alert">
            <h4 class="alert-heading success"><%= heading %></h4>
            <p><%= text %></p>
            
            <% if(showLogin){ %>
            <hr>
                <center><button class="btn btn-primary"><a href="/login">Login</a></button></center>
           <% } %>
        </div>
    </div>