<header id="header" class="header">
    <div class="container">
        <h1 class="logo">
            <a href="index.html"><img src="https://themes.3rdwavemedia.com/startup-kit/bs5/1.1/assets/images/logo.svg" alt=""><span class="text">Startup Kit</span></a>
        </h1>
        <!--//logo-->
        <nav class="main-nav navbar navbar-right navbar-expand-md">
            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbar-collapse"
                aria-expanded="false">
                <span> </span>
                <span> </span>
                <span> </span>
            </button>
            <div id="navbar-collapse" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="nav-item"><a class="nav-link active" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="/blog">Blog</a></li>
                    <li class="nav-item"><a class="nav-link" href="">Contact</a></li>
                    
                    <li class="nav-item"><a class="nav-link login-trigger" href="/login">Log in</a></li>
                    <li class="nav-item nav-item-cta last"><a class="btn-signup" href="/register">Sign Up</a></li>
                </ul>
                <!--//nav-->
            </div>
            <!--//navabr-collapse-->
        </nav>
        <!--//main-nav-->
    </div>
    <!--//container-->
</header>