.auth-section {
  padding-bottom: 200px;
  padding-top: 90px;
  padding-left: 10px;
  padding-right: 10px;
}
.auth-section .form-box .form-box-heading {
  background: #494d55;
  padding: 20px;
  font-size: 28px;
  color: #fff;
  margin-bottom: 0;
  line-height: 1.5;
  -webkit-border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  position: relative;
}
.auth-section .form-box .form-box-heading:before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #494d55;
  position: absolute;
  bottom: -10px;
  margin-left: -10px;
  left: 50%;
}
.auth-section .form-box .form-box-heading.logo {
  text-transform: uppercase;
}
.auth-section .form-box .form-box-heading.logo .icon {
  margin-right: 8px;
  position: relative;
  top: 2px;
}
.auth-section .form-box .form-box-heading .highlight {
  font-weight: 800;
}
.auth-section .form-box .form-box-inner {
  background: #fff;
  padding: 40px;
  border: 1px solid #eaeaf1;
  border-bottom-width: 2px;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 4px;
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.auth-section .form-box .title {
  font-size: 22px;
  font-weight: 300;
  margin-bottom: 45px;
  margin-top: 15px;
}
.auth-section .form-group {
  position: relative;
}
.auth-section .form-group.email .icon {
  font-size: 16px;
  position: absolute;
  left: 10px;
  top: 9px;
  color: #afb3bb;
}
.auth-section .form-group.password .icon {
  font-size: 16px;
  position: absolute;
  left: 10px;
  top: 9px;
  color: #afb3bb;
}
.auth-section .form-control {
  padding-left: 30px;
}
.auth-section .social-btns {
  padding-left: 60px;
  min-height: 250px;
  margin-bottom: 15px;
}
.auth-section .social-btns li {
  margin-bottom: 10px;
}
.auth-section .social-btns li .btn {
  min-width: 220px;
}
.auth-section .forgot-password {
  margin-top: 10px;
  font-size: 13px;
}
.auth-section .forgot-password a {
  color: #616670;
}
.auth-section .forgot-password a:hover {
  text-decoration: underline;
  color: #44b5c9;
}
.theme-2 .auth-section .forgot-password a:hover {
  color: #6dbd63;
}
.theme-3 .auth-section .forgot-password a:hover {
  color: #497cb1;
}
.theme-4 .auth-section .forgot-password a:hover {
  color: #ec6952;
}
.auth-section .divider {
  border-left: none;
  margin-bottom: 30px;
  position: static;
}
.auth-section .divider span {
  background: #fff;
  display: inline-block;
  padding: 0 10px;
  position: relative;
  top: inherit;
  text-transform: uppercase;
  color: #a2a6af;
}
.auth-section .divider:before {
  content: "";
  position: absolute;
  left: 0;
  top: 12px;
  background: #f4f4f6;
  height: 1px;
  width: 100%;
}
.auth-section .social-btns {
  padding-left: 0;
  text-align: center;
}
.auth-section .social-btns .btn {
  min-width: 100%;
}
.auth-section .social-btns .social-login {
  display: inline-block;
  margin: 0 auto;
}
.auth-section .note {
  color: #a2a6af;
  font-size: 13px;
  margin-bottom: 15px;
  margin-top: 15px;
}
.auth-section .btn + .note {
  margin: 15px 0;
}
.auth-section .remember {
  font-size: 13px;
}
.auth-section .remember label {
  color: #616670;
  font-weight: normal;
}
.auth-section .alt-path {
  color: #616670;
  margin-top: 30px;
}
.auth-section .copyright {
  padding: 30px;
  color: #9499a3;
}
@media (min-width: 992px) {
  .auth-section .divider {
    text-align: center;
    margin-bottom: 30px;
    text-transform: uppercase;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
  }
  .auth-section .divider span {
    background: #fff;
    display: inline-block;
    padding: 10px 0;
    position: relative;
    top: 80px;
    margin-left: -10px;
  }
  .auth-section .divider:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background: #f3f3f7;
    height: 100%;
    width: 1px;
  }
  .auth-section .social-btns {
    padding-left: 65px;
  }
  .auth-section .social-btns .note {
    text-align: left;
  }
}
