<div id="top-alert" class="alert alert-promo alert-dismissible fade show text-center" role="alert"
    style="display: block;">
    <span id="top-alert-close" aria-hidden="true" class="icon icon_close close"></span>
    <strong>Welcome to Appify!</strong> Your trial will run out in 30 days <a
        class="btn btn-success btn-sm margin-left-sm" href="pricing.html">Upgrade Now</a>
</div>