


<%- include("./rightpanel") %>


<script src="/js/admin/js1.js"></script>
<script src="/js/admin/js2.js"></script>
<script src="/js/admin/js3.js"></script>
<script src="/js/admin/js4.js"></script>
<script src="/js/admin/js5.js"></script>
<script src="/js/admin/js6.js"></script>
<script src="/js/admin/js7.js"></script>
<script src="/js/admin/js8.js"></script>
<script src="/js/admin/js9.js"></script>
<script src="/js/admin/js10.js"></script>
<script src="/js/admin/js11.js"></script>
<script src="/js/admin/js12c.js"></script>
<script src="/js/admin/js13c.js"></script>
<script src="/js/admin/js14c.js"></script>
<script src="/js/admin/js15c.js"></script>
<script src="/js/admin/js16c.js"></script>
<script src="/js/admin/js17c.js"></script>


</body>
</html>