<div id="side-panel" class="side-panel" style="right: -320px;">
    <div class="side-panel-inner">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                aria-hidden="true">×</span></button>
        <h4 class="title text-center"><i class="fas fa-signal mr-2"></i>Activities</h4>
        <div class="items-wrapper">
            <div class="item">
                <div class="symbol-holder">
                    <button class="icon-container btn btn-warning btn-circle">
                        <i class="icon fa fa-flag"></i>
                    </button>
                </div>
                <div class="content-holder">
                    <div class="subject-line">
                        <strong>We have increased your storage to 10GB for Free!</strong>
                    </div>
                    <div class="excerpt">
                        System notification
                    </div>
                    <div class="time-stamp">5 days ago</div>
                </div>
            </div>
            <div class="item">
                <div class="symbol-holder">
                    <img class="user-profile" src="assets/images/profiles/profile-20.png" alt="">
                </div>
                <div class="content-holder">
                    <div class="subject-line">
                        <a class="name" href="member.html">David Thomson</a> followed you.
                    </div>
                    <div class="excerpt">
                        <div class="role">Full-Stack Developer</div>
                        <div class="folowers"><span>12 Projects</span> | <span class="folowers">43 Followers</span>
                        </div>
                    </div>
                    <div class="time-stamp">3 mins ago</div>
                </div>
            </div>
            <div class="item">
                <div class="symbol-holder">
                    <button class="icon-container btn btn-danger btn-circle">
                        <i class="icon fa fa-heart"></i>
                    </button>
                </div>
                <div class="content-holder">
                    <div class="subject-line">
                        <a class="name" href="#">Julie Wu</a> favourited your post.
                    </div>
                    <div class="excerpt">
                        <div class="quote-text"><em>"Love your new design! Keep up the great work..."</em></div>
                    </div>
                    <div class="time-stamp">1 week ago</div>
                </div>
            </div>
            <div class="item">
                <div class="symbol-holder">
                    <img class="user-profile" src="assets/images/profiles/profile-15.png" alt="">
                </div>
                <div class="content-holder">
                    <div class="subject-line">
                        <a class="name" href="#">Julie Wu</a> followed you.
                    </div>
                    <div class="excerpt">
                        <div class="role">Product Designer</div>
                        <div class="folowers"><span>3 Projects</span> | <span class="folowers">8 Followers</span></div>
                    </div>
                    <div class="time-stamp">2 weeks ago</div>
                </div>
            </div>
            <div class="item">
                <div class="symbol-holder">
                    <button class="icon-container btn btn-info btn-circle">
                        <i class="icon fa fa-at"></i>
                    </button>
                </div>
                <div class="content-holder">
                    <div class="subject-line">
                        <a class="name" href="#">James Lee</a> mentioned you on <a href="#">Project Lorem</a>.
                    </div>
                    <div class="excerpt">
                        <div class="quote-text"><em>"Looks cool @Rebecca White"</em></div>
                    </div>
                    <div class="time-stamp">2 weeks ago</div>
                </div>
            </div>
            <div class="item">
                <div class="symbol-holder">
                    <button class="icon-container btn btn-success btn-circle">
                        <i class="icon fa fa-commenting"></i>
                    </button>
                </div>
                <div class="content-holder">
                    <div class="subject-line">
                        <a class="name" href="#">Chris Adams</a> commented on <a href="#">Discussion Lorem</a>.
                    </div>
                    <div class="excerpt">
                        <div class="quote-text"><em>"Can we improve the review process? At the moment consectetuer
                                adipiscing elit..."</em></div>
                    </div>
                    <div class="time-stamp">Jan 10, 2016</div>
                </div>
            </div>
            <div class="item">
                <div class="symbol-holder">
                    <button class="icon-container btn btn-pink btn-circle">
                        <i class="icon fa fa-thumbs-up"></i>
                    </button>
                </div>
                <div class="content-holder">
                    <div class="subject-line">
                        <a class="name" href="#">Kat Schultz</a> liked your discussion <a href="#">Discussion Lorem</a>.
                    </div>
                    <div class="time-stamp">Jan 8, 2016</div>
                </div>
            </div>
        </div>
    </div>
</div>