<div class="main-nav-wrapper">
    <nav id="main-nav" class="main-nav">
        <ul id="menu" class="metismenu">
            <li class="nav-dashboards mm-active">
                <a href="#" aria-expanded="true">
                    <span aria-hidden="true" class="icon icon_house_alt"></span>
                    <span class="nav-label">Dashboards</span>
                    <span class="fa arrow"></span>
                </a>
                <ul class="sub-menu mm-collapse mm-show">
                    <li class="mm-active">
                        <a href="index.html" aria-expanded="true">
                            <span class="nav-label">Use Case 1</span>
                        </a>
                    </li>
                    <li>
                        <a href="index-2.html">
                            <span class="nav-label">Use Case 2</span>
                        </a>
                    </li>
                    <li>
                        <a href="index-3.html">
                            <span class="nav-label">Use Case 3</span>
                        </a>
                    </li>
                    <li>
                        <a href="index-4.html">
                            <span class="nav-label">Use Case 4</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-widgets ">
                <a href="widgets.html">
                    <span aria-hidden="true" class="icon icon_drawer_alt"></span>
                    <span class="nav-label">Widgets</span>
                    <span class="badge badge-primary">12</span>
                </a>
            </li>
            <li>
                <a href="projects.html">
                    <span aria-hidden="true" class="icon icon_toolbox_alt"></span>
                    <span class="nav-label">Projects</span>
                    <span class="badge">56</span>
                </a>
            </li>
            <li>
                <a href="tickets.html">
                    <span aria-hidden="true" class="icon icon_box-checked"></span>
                    <span class="nav-label">Tickets</span>
                </a>
            </li>
            <li>
                <a href="invoices.html">
                    <span aria-hidden="true" class="icon icon_documents_alt"></span>
                    <span class="nav-label">Invoices</span>
                </a>
            </li>
            <li>
                <a href="discussions.html">
                    <span aria-hidden="true" class="icon icon_chat_alt"></span>
                    <span class="nav-label">Discussions</span>
                </a>
            </li>
            <li>
                <a href="activities.html">
                    <span aria-hidden="true" class="icon icon_easel"></span>
                    <span class="nav-label">Activities</span>
                </a>
            </li>
            <li>
                <a href="members.html">
                    <span aria-hidden="true" class="icon icon_group"></span>
                    <span class="nav-label">Members</span>
                </a>
            </li>
            <li>
                <a href="inbox.html">
                    <span aria-hidden="true" class="icon icon_mail_alt"></span>
                    <span class="nav-label">Inbox</span>
                    <span class="badge">18</span>
                </a>
            </li>
            <li class="nav-app-pages ">
                <a href="#">
                    <span aria-hidden="true" class="icon icon_building"></span>
                    <span class="nav-label">App Pages</span>
                    <span class="badge badge-success">17</span>
                    <span class="fa arrow"></span>
                </a>
                <ul class="sub-menu mm-collapse">
                    <li>
                        <a href="project.html">
                            <span class="nav-label">Project Details</span>
                        </a>
                    </li>
                    <li>
                        <a href="member.html">
                            <span class="nav-label">Member Profile</span>
                        </a>
                    </li>
                    <li>
                        <a href="discussion.html">
                            <span class="nav-label">Discussion Topic</span>
                        </a>
                    </li>
                    <li>
                        <a href="user-profile.html">
                            <span class="nav-label">User Profile</span>
                        </a>
                    </li>
                    <li>
                        <a href="user-settings.html">
                            <span class="nav-label">User Settings</span>
                        </a>
                    </li>
                    <li>
                        <a href="user-billing.html">
                            <span class="nav-label">User Billing</span>
                        </a>
                    </li>
                    <li>
                        <a href="user-messages.html">
                            <span class="nav-label">User Messages</span>
                        </a>
                    </li>
                    <li>
                        <a href="user-drive.html">
                            <span class="nav-label">User Drive</span>
                        </a>
                    </li>
                    <li>
                        <a href="user-reminders.html">
                            <span class="nav-label">User Reminders</span>
                        </a>
                    </li>
                    <li>
                        <a href="pricing.html">
                            <span class="nav-label">Pricing</span>
                        </a>
                    </li>
                    <li>
                        <a href="invoice.html">
                            <span class="nav-label">Invoice</span>
                        </a>
                    </li>
                    <li>
                        <a href="timeline.html">
                            <span class="nav-label">Timeline</span>
                        </a>
                    </li>
                    <li>
                        <a href="faq.html">
                            <span class="nav-label">FAQ</span>
                        </a>
                    </li>
                    <li>
                        <a href="login.html">
                            <span class="nav-label">Login Page</span>
                        </a>
                    </li>
                    <li>
                        <a href="signup.html">
                            <span class="nav-label">Signup Page</span>
                        </a>
                    </li>
                    <li>
                        <a href="404.html">
                            <span class="nav-label">404 Page</span>
                        </a>
                    </li>
                    <li>
                        <a href="500.html">
                            <span class="nav-label">500 Page</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <span aria-hidden="true" class="icon icon_puzzle"></span>
                    <span class="nav-label">Components</span>
                    <span class="fa arrow"></span>
                </a>
                <ul class="sub-menu mm-collapse">
                    <li>
                        <a href="typography.html">
                            <span class="nav-label">Typography</span>
                        </a>
                    </li>
                    <li>
                        <a href="icons.html">
                            <span class="nav-label">Icons</span>
                        </a>
                    </li>
                    <li>
                        <a href="buttons.html">
                            <span class="nav-label">Buttons</span>
                        </a>
                    </li>
                    <li>
                        <a href="cards.html">
                            <span class="nav-label">Cards</span>
                        </a>
                    </li>
                    <li>
                        <a href="tabs.html">
                            <span class="nav-label">Tabs</span>
                        </a>
                    </li>
                    <li>
                        <a href="accordions.html">
                            <span class="nav-label">Accordions</span>
                        </a>
                    </li>

                    <li>
                        <a href="todo-list.html">
                            <span class="nav-label">Todo</span>
                        </a>
                    </li>
                    <li>
                        <a href="carousels.html">
                            <span class="nav-label">Carousels</span>
                        </a>
                    </li>
                    <li>
                        <a href="notifications.html">
                            <span class="nav-label">Notifications</span>
                        </a>
                    </li>
                    <li>
                        <a href="draggable.html">
                            <span class="nav-label">Draggable</span>
                        </a>
                    </li>
                    <li>
                        <a href="sortable.html">
                            <span class="nav-label">Sortable</span>
                        </a>
                    </li>
                    <li>
                        <a href="nestable.html">
                            <span class="nav-label">Nestable</span>
                        </a>
                    </li>
                    <li>
                        <a href="tree-view.html">
                            <span class="nav-label">Tree</span>
                        </a>
                    </li>
                    <li>
                        <a href="loaders.html">
                            <span class="nav-label">Loaders</span>
                        </a>
                    </li>
                    <li>
                        <a href="ui-misc.html">
                            <span class="nav-label">Other UI Elements</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <span aria-hidden="true" class="icon icon_table"></span>
                    <span class="nav-label">Tables</span>
                    <span class="fa arrow"></span>
                </a>
                <ul class="sub-menu mm-collapse">
                    <li>
                        <a href="tables-basic.html">
                            <span class="nav-label">Basic</span>
                        </a>
                    </li>
                    <li>
                        <a href="tables-datatables.html">
                            <span class="nav-label">Datatables</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <span aria-hidden="true" class="icon icon_pencil-edit"></span>
                    <span class="nav-label">Forms</span>
                    <span class="fa arrow"></span>
                </a>
                <ul class="sub-menu mm-collapse">
                    <li>
                        <a href="forms-basic.html">
                            <span class="nav-label">Basic</span>
                        </a>
                    </li>
                    <li>
                        <a href="forms-advanced.html">
                            <span class="nav-label">Advanced</span>
                        </a>
                    </li>
                    <li>
                        <a href="forms-validation.html">
                            <span class="nav-label">Validation</span>
                        </a>
                    </li>
                    <li>
                        <a href="forms-wizard.html">
                            <span class="nav-label">Wizard</span>
                        </a>
                    </li>
                    <li>
                        <a href="forms-markdown.html">
                            <span class="nav-label">Markdown</span>
                        </a>
                    </li>
                    <li>
                        <a href="forms-editor.html">
                            <span class="nav-label">Editor</span>
                        </a>
                    </li>


                </ul>
            </li>
            <li>
                <a href="#">
                    <span aria-hidden="true" class="icon icon_piechart"></span>
                    <span class="nav-label">Charts</span>
                    <span class="fa arrow"></span>
                </a>
                <ul class="sub-menu mm-collapse">
                    <li>
                        <a href="charts-chartjs.html">
                            <span class="nav-label">Chart.js</span>
                        </a>
                    </li>
                    <li>
                        <a href="charts-flot.html">
                            <span class="nav-label">Flot Charts</span>
                        </a>
                    </li>
                    <li>
                        <a href="charts-morris.html">
                            <span class="nav-label">Charts Morris</span>
                        </a>
                    </li>
                    <li>
                        <a href="charts-inline.html">
                            <span class="nav-label">Inline Charts</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="calendar.html">
                    <span aria-hidden="true" class="icon icon_calendar"></span>
                    <span class="nav-label">Calendar</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span aria-hidden="true" class="icon icon_flowchart"></span>
                    <span class="nav-label">Menu Levels</span>
                    <span class="fa arrow"></span>
                </a>
                <ul class="sub-menu mm-collapse">
                    <li>
                        <a href="#">
                            <span class="nav-label">Subnav Level 1</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="nav-label">Subnav Level 1</span>
                            <span class="fa arrow"></span>
                        </a>
                        <ul class="sub-menu mm-collapse">
                            <li>
                                <a href="#">
                                    <span class="nav-label">Subnav Level 2</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="nav-label">Subnav Level 2</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="nav-label">Subnav Level 2</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">
                            <span class="nav-label">Subnav Level 1</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li role="presentation" class="divider ">
            </li>
            <li>
                <a href="help.html">
                    <span aria-hidden="true" class="icon icon_lifesaver"></span>
                    <span class="nav-label">Help</span>
                    <span class="badge badge-new">NEW</span>
                </a>
            </li>
        </ul>
    </nav>
</div>